/*首页.start*/
ul, li {
    list-style: none;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.container {
    min-width: 1000px;
    max-width: 1000px;
}

.container-fluid {
    min-width: 1000px;
}

.header-float {
    position: relative;
    z-index: 1;
}

/*header.start*/
header {
    padding: 15px 0 15px;
}

header .row .col-xs-4 .search {
    width: 100%;
    height: 50px;
    background-color: #e5f2f8;
    border: none;
    outline: none;
    padding-left: 50px;
    background-image: url('../image/search.png');
    background-repeat: no-repeat;
    background-position: 15px;
}

header .row .col-xs-4 .search::-webkit-input-placeholder {
    color: #3f86d8;
}

header .row .col-xs-4 .row .col-xs-6 .form-control {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

header .row .col-xs-4 .row .col-xs-4 .form-control:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

header .lan span {
    display: inline-block;
    color: #f68d31;
    font-size: 12px;
    line-height: 50px;
    height: 50px;
}

header .lan .line {
    margin: 0 14px 0 17px;
}

/*header.end*/
/*nav.start*/

nav .nav-left {
    background-color: #3f86d6;
}

nav ul {
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 24px 0 22px 0;
}

nav .nav-right {
    background-color: #f68e2f;
    background-image: url("../image/user.png");
    background-repeat: no-repeat;
    background-position: 50px 16px;
}

nav .nav-right ul li:first-child {
    border-right: 2px solid #fff;
}

/*nav.end*/
/*banner.start*/
.banner {
    position: relative;
    top: -30px;
}

/*banner.end*/
/*main.start*/
.main {
    padding-bottom: 30px;
}

.activity-button {
    margin: 27px auto 30px;
}

.activity-button li {
    width: 33%;
}

.nav > li > a, .nav > li > a:hover, .nav > li > a:focus {
    color: #3f86d6;
    text-decoration: none;
    background-color: #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #3f86d6;
    border-radius: 0;
}

.activity-content .section {
    color: #1d1d1d;
    padding-bottom: 30px;
}

.activity-content .section .line {
    margin: 0 15px;
}

.activity-more a {
    margin: auto;
    display: block;
    width: 185px;
    height: 40px;
    color: #3f86d6;
    border: 1px solid #3f86d6;
    padding: 10px 15px;
}

.activity-more a:hover, .activity-more a:focus {
    color: #fff;
    background-color: #3f86d6;
}

/*main.end*/
/*footer.start*/
/*footer*/
.footer {
    background-color: rgb(228, 243, 248);
    padding-bottom: 2.5%;
    min-width: 1000px;
}
.footer-heading {
    padding-top: 34px;
    padding-bottom: 24px;
    color: rgb(28, 29, 30);
    font-size: 36px;
}

.footer-click {
    text-decoration: none;
    color: black;
}

.footer-click:hover {
    text-decoration: none;
}

.footer-box-border {
    border: solid 1px rgb(175, 198, 207);
    background-color: white;
    margin: 4% 0;
    height: 130px;
}

.footer-box-tip1 {
    line-height: 130px;
}

/*bottom*/
.bottom {
    background-color: rgb(73, 89, 107);
    color: white;
    padding-bottom: 2%;
    min-width: 1000px;
}

.bottom-small-size {
    padding: 8% 0% 0%;
    font-size: 13px;
}

.bottom-click {
    text-decoration: none;
    color: white;
    padding: 0% 3%;
    border-left: solid 1px white;
}

.bottom-click-1 {
    padding: 0% 2.5% 0% 0%;
    border-left: none;
}

.bottom-click:hover {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

.bottom-phone {
    text-align: right;
    font-size: 20px;
    color: rgb(152, 168, 184);
    margin-top: 14%;
}

.bottom-phone-icon, .bottom-phone-number {
    color: rgb(152, 168, 184);
}

.bottom-phone-icon:hover, .bottom-phone-number:hover {
    text-decoration: none;
    color: rgb(152, 168, 184);
}

.bottom-copy {
    font-size: 12px;
}

.bottom-copy-click {
    color: white;
    text-decoration: underline;
}

.bottom-copy-color {
    color: rgb(152, 168, 184);
}

.bottom-icon {
    width: 35px;
    height: 35px;
}

/*footer.end*/
/*首页.end*/

/*header中 select框样式*/
header select {
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-image: url('../image/arrow.png') !important;
    background-size:auto 20%;
    background-repeat: no-repeat;
    background-position:95%;
    padding-left: 16px;
    cursor: pointer;
}